@charset "utf-8";
/* CSS Document */

.animate-in.set-transition {
  transition: margin 1s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: margin 1s ease-in-out, opacity 1s ease-in-out;
  -webkit-transition: margin 1s ease-in-out, opacity 1s ease-in-out;
  opacity:1;
}
.animate-in.waiting {
  pointer-events:none;
  opacity: 0;
}
.animate-in.animate-from-left.waiting {
  margin-left:-100%;
  margin-right:100%;
}
.animate-in.animate-from-right.waiting {
  margin-left:100%;
  margin-right:-100%;
}

.animate-in.animate-pop-in.set-transition {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.animate-in.animate-pop-in {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.animate-in.animate-pop-in.waiting, a.animate-in.animate-pop-in:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
